* , *::after , *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    /* overflow-x: hidden; */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
li{
    list-style-type: none;
}
a,a:visited{
    color: inherit;
    text-decoration: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}