$back: #0E0F11;
$txt: #C0C0C0;
$para: #b4b0a0;


$flag: 0;

.brdr1 {
    @if($flag ==1) {
        border: 1px solid goldenrod;
    }
}

.brdr2 {
    @if($flag ==1) {
        border: 1px solid green;
    }
}

@font-face {
    font-family: reg;
    src: url(font/RobotoCondensed-Regular.ttf);
}

body {
    font-family: reg;

    >main {
        background-color: $back;

        >.head {
            width: 100%;
            min-height: 100vh;

            >.row {
                background-color: $back;
                height: 70px;
                @extend .brdr1;
                padding: 20px 51px;
                align-items: center;
                justify-content: space-between;
                position: fixed;
                z-index: 999;

                >figure {
                    @extend.brdr1;
                    width: 20vw;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    >img {
                        width: 100%;
                        height: 100%;

                    }
                }

                >nav {
                    @extend .brdr1;
                    margin-left: 10vw;

                    >ul {
                        @extend .brdr1;
                        width: 40vw;
                        height: 90%;
                        display: flex;

                        >li {
                            @extend .brdr1;
                            width: 25%;
                            height: 100%;
                            font-size: 1vw;
                           

                            >a {
                                @extend .brdr2;
                                display: flex;
                                color: $txt;
                                width: 60px;
                                transition: .4s;
                                &:hover{
                                    color:#f6e760;
                                }
                            }
                        }
                    }
                }

                >a {
                    display: flex;
                    flex-direction: column;
                    border: 1px solid #7e7e7f;
                    border-radius: 50px;
                    margin-left: 10.25vw;
                    width: 11vw;
                    height: 3vw;
                    justify-content: center;
                    align-items: center;
                    transition: .4s;

                    &:hover {
                        border: 1px solid white;
                    }

                    &:hover>span:last-of-type {
                        opacity: 1;
                        margin-top: -3px;
                    }

                    &:hover>span:first-of-type {
                        opacity: 0;
                        margin-top: -20px;
                    }

                    >span {
                        color: $txt;
                        transition: 0.4s;

                        &:first-of-type {
                            margin-top: 10px;
                        }

                        &:last-of-type {
                            opacity: 0;
                            margin-top: -10px;
                        }
                    }
                }
            }

            >section {
                @extend .brdr1;
                padding: 100px 100px;
                min-height: 100vh;

                >.row {
                    @extend .brdr1;
                    min-height: 80vh;
                    justify-content: space-between;

                    >* {
                        @extend .brdr2;
                    }

                    >.para {
                        width: 40%;

                        >span {
                            color: #f6e760;
                            text-decoration: underline;
                        }

                        >h2 {
                            color: $txt;
                            font-size: 4vw;
                        }

                        >p {
                            color: $para;
                            font-size: 1.5vw;
                        }

                        >a {
                            display: flex;
                            flex-direction: column;
                            border: 1px solid #7e7e7f;
                            border-radius: 50px;
                            width: 18vw;
                            height: 4vw;
                            justify-content: center;
                            align-items: center;
                            transition: .4s;

                            &:hover {
                                border: 1px solid white;
                            }

                            &:hover>span:last-of-type {
                                opacity: 1;
                                margin-top: -3px;
                            }

                            &:hover>span:first-of-type {
                                opacity: 0;
                                margin-top: -20px;
                            }

                            >span {
                                color: $txt;
                                transition: 0.4s;

                                &:first-of-type {
                                    margin-top: 10px;
                                }

                                &:last-of-type {
                                    opacity: 0;
                                    margin-top: -10px;
                                }
                            }
                        }
                    }

                    >.pic {

                        width: 44%;
                        background-image: url(../images/background-3.jpg);
                        background-size: cover;
                        display: flex;
                        justify-content: space-between;
                        border-radius: 5px;

                        >figure {
                            >* {
                                @extend .brdr2;
                                height: 28vw;
                                border-radius: 5px;
                            }

                            &:first-of-type {

                                margin-top: 30px;
                                margin-left: -65px;
                            }

                            &:last-of-type {
                                margin-top: 110px;
                                margin-right: -30px;

                            }
                        }
                    }
                }
            }
        }

        // ----------------------------------100 vh aval tamam shod--------------------------------
        >.sponsers {
            @extend .brdr1;
            padding: 40px 0;

            >.img-sponsers {
                justify-content: space-evenly;
                padding: 50px 0;

                >figure {
                    @extend .brdr1;
                }
            }

            >.trust {
                @extend.brdr1;

                >.row {
                    >* {
                        @extend .brdr2
                    }

                    &:first-of-type {
                        width: 40%;
                        min-height: 90vh;
                        padding: 40px;

                        >figure {

                            @extend .brdr2;

                            >img {
                                width: 100%;
                                object-fit: cover;
                            }
                        }
                    }

                    &:last-of-type {
                        @extend .brdr2;
                        padding: 60px;
                        height: 90%;
                        width: 55%;
                        color: $txt;

                        >* {
                            margin: 35px 10px;
                        }

                        >h2 {
                            font-size: 4vw;
                        }

                        >p {
                            font-size: 1.5vw;
                            color: $para;
                        }

                        >.line {
                            width: 100%;
                            height: 1px;
                            color: #7E7E7F;
                            border: .3px solid #7e7e7f
                        }

                        >.spans {
                            display: flex;

                            >span {
                                padding: 10px 7px;

                                >* {
                                    margin: 10px;
                                }

                                >h4 {
                                    font-size: 2vw;
                                }

                                >p {
                                    color: $para;
                                    font-size: 1.4vw;

                                    &:last-of-type {
                                        color: #f6e760;
                                        text-decoration: underline;
                                    }

                                }

                                &:first-of-type {
                                    width: 49%;
                                }

                                &:last-of-type {
                                    width: 51%;
                                }
                            }
                        }
                    }
                }
            }
        }

        // -----------100vh dovom tamam-------------------------------------
        >.services {
            background-color: white;
            min-height: 100vh;
            padding: 100px 50px;

            >.row {
                flex-direction: column;
                align-items: center;

                >* {
                    margin: 10px;
                }

                >span {
                    color: blue;
                    text-decoration: underline;
                    font-size: 1.5vw;
                    text-transform: capitalize;
                }

                >h2 {
                    font-size: 4.5vw;
                }

                >p {
                    font-size: 1.2vw;
                }
            }

            >.photos {
                @extend .brdr1;
                margin: 50px 20px;
                flex-direction: row;
                justify-content: space-evenly;

                >figure {
                    @extend .brdr2;
                    width: 28%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    >* {
                        margin: 20px 0;
                    }

                    >img {
                        width: 100%;
                        height: 300px;
                        object-fit: cover;
                        @extend .brdr1;
                    }

                    >figcaption {
                        >* {
                            @extend .brdr1;
                            text-align: center;
                            margin: 20px 0 0 0;
                        }

                        >h3 {
                            font-size: 2.3vw;
                        }

                        >p {
                            font-size: 1.2vw;
                        }
                    }
                }
            }
        }

        // -------------------------------------------------------------------
        >.projects {
            background-color: white;
            @extend .brdr1;
            padding: 100px;
            min-height: 100vh;
            justify-content: space-evenly;

            >.row {
                &:first-of-type {
                    @extend .brdr1;
                    background-image: url(../images/info-11.jpg);
                    background-size: cover;
                    width: 470px;
                    height: 550px;
                    transition: .4s;

                    &:hover {
                        transform: scale(1.1);
                    }
                }

                &:last-of-type {
                    @extend .brdr1;
                    background-image: url(../images/project-4.jpg);
                    background-size: cover;
                    width: 470px;
                    height: 550px;
                    transition: .4s;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }

        // -----------------------------------------------------------------
        >.develops {
            width: 100%;
            height: 100vh;
            padding: 100px;

            >.row {
                @extend .brdr1;
                width: 100%;
                height: 100%;
                // padding: 25px 100px;
                display: flex;
                justify-content: space-evenly;
                
                >.first , >.second , >.third{
                    @extend .brdr2;
                    position: relative;
                    width: 28%;
                    height: 100%;

                    >.box {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border: 1px solid blue;
                        border-radius: 10px;
                        width: 280px;
                        height: 40px;
                        position: absolute;
                        top: 440px;
                        left: 50%;
                        transform: translate(-50%);
                        background-color: blue;
                        color: white;
                    }

                    >.row {
                        border: 1px solid $back;
                        background-color: #23252b;
                        width: 100%;
                        height: 480px;
                        color: white;
                        transition: .4s;
                        border-radius: 10px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: 1;

                        >p {
                            &:first-of-type {
                                color: blue;
                                font-size: 2vw;
                            }
                        }

                        >h2 {
                            font-size: 4vw;
                            margin-top: 100px;
                            padding: 20px;
                        }

                        >p {
                            font-size: 1.4vw;
                            padding: 20px;
                        }

                        &:hover {
                            transform: scale(0.8);
                            bottom: 100px;
                        }
                    }
                }
            }
        }

        
        >.footer {
            width: 100%;
            min-height: 120px;
            @extend .brdr1;
            padding: 50px;
            display: flex;
            align-items: center;
            justify-content: center;

            >.row {
                height: 90px;
                width: 90%;
                border: 1px solid #7e7e7f;

                >span {
                    width: 33.33%;
                    border-right: 1px solid #7e7e7f;
                    color: $txt;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 1.4vw;

                    >a {
                        cursor: pointer;
                        transition: .4s;

                        &:hover {
                            color: #f6e760;
                            text-decoration: underline;
                        }
                    }

                    >svg {
                        font-size: 1vw;
                        width: 25px;
                        height: 25px;
                        margin: 0 10px;
                        cursor: pointer;
                        transition: .4s;

                        &:hover {
                            width: 28px;
                            height: 28px;
                            color: #f6e760;
                        }
                    }
                }
            }
        }
    }
}